<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><strong>Partiu Almoço!</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"><a class="text-dark nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/votacao']">Votação</a></li>
          <li *ngIf="isAuthenticated" class="nav-item"><a class="text-dark nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/restaurantes']">Restaurantes</a></li>
          <!-- <li class="nav-item"><a class="text-dark nav-link" href="/historico">Histórico</a></li> -->
          <li *ngIf="!isAuthenticated" class="nav-item"><a class="text-dark nav-link" [routerLinkActive]="['link-active']" [routerLink]="['/entrar']">Entrar</a></li>
          <li *ngIf="isAuthenticated" class="nav-item"><a class="text-dark nav-link" [routerLinkActive]="['link-active']" href="#" (click)="logout()">Sair</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>